
::deep .quickgrid {
    font-family: 'Helvetica', 'Times New Roman', serif;
    color: black;
    font-size: small;
    width: 60%;
}

    ::deep .quickgrid .col-title {
        gap: 0.4rem; /* Separate the sort indicator from title text */
        font-weight: bold;
        text-transform: none;
        color: #FFFFFF;
    }

    ::deep .quickgrid .sort-indicator {
        color: #FFFFFF;
    }

    ::deep .quickgrid button.col-title:hover, ::deep .quickgrid .col-options-button:hover {
        background-color: #5049DD;
        color: #FFFFFF;
    }

    ::deep .quickgrid button.col-title:active, ::deep .quickgrid .col-options-button:active {
        background-color: lightslategray;
        color: #FFFFFF;
    }

/* Fix height and enable scrolling */
.grid {
    height: 25rem;
    overflow-y: auto;
}

    .grid ::deep table {
        min-width: 100%;
    }

/* Sticky header while scrolling */
::deep thead {
    position: sticky;
    top: 0;
    background-color: #6D7AE0;
    outline: 1px solid gray;
    z-index: 1;
    color: #FFFFFF;
}

::deep tbody td {
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    text-overflow: ellipsis;
}

/* For virtualized grids, it's essential that all rows have the same known height */
/* Subtle stripe (zebra) effect */
::deep tr:nth-child(even) {
    background: #F5F5F5;
}

::deep tr {
    height: 30px;
    border-bottom: 0.5px solid silver;
}

    /* Background color of hovered row */
    ::deep tr:hover {
        background: #EDECFE;
    }

/* we don't want the header to change background color when hovered (only for regular rows) */
::deep thead:hover tr {
    background: #6D7AE0;
}

/*::deep .quickgrid[theme=default] > thead > tr > th .myClass {
    width: 450px;
}*/

/* Assign default width to country name column */
/*::deep thead .myClass col-title-text {
    width: 475px;
}*/

/* to assign a width to specific columns*/
::deep th._100px > div.col-header-content > div.col-title > div.col-title-text {
    width: 100px;
}

::deep th._150px > div.col-header-content > div.col-title > div.col-title-text {
    width: 150px;
}

::deep th._175px > div.col-header-content > div.col-title > div.col-title-text {
    width: 175px;
}

::deep th._250px > div.col-header-content > div.col-title > div.col-title-text {
    width: 250px;
}

::deep th._500px > div.col-header-content > div.col-title > div.col-title-text {
    width: 500px;
}

::deep th._65px > div.col-header-content > div.col-title > div.col-title-text {
    width: 65px;
}

::deep th._85px > div.col-header-content > div.col-title > div.col-title-text {
    width: 85px;
}

/* cuando la columna es Sortable el div se cambia por un button */
::deep th._85px > div.col-header-content > button.col-title > div.col-title-text {
    width: 85px;
}

::deep th._150px > div.col-header-content > button.col-title > div.col-title-text {
    width: 150px;
}
