@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Ud. está authenticado</PageTitle>

<h1>Ud. está authenticado</h1>

<AuthorizeView>
    Hola, @context.User.Identity?.Name!
</AuthorizeView>
