@using Microsoft.Extensions.Localization

<AuthorizeView> 
    <Authorized> 
        <div style="padding-top: 10px; padding-right: 30px; ">
            <a href="auth">Hola, @context.User.Identity?.Name!</a>
        </div>
    </Authorized>
    <NotAuthorized> 
        <div style="padding-top: 10px; padding-right: 30px; ">
            <a href="Account/Register">Crear una cuenta</a>
            <span style="margin-left: 10px; "><a href="Account/Login">Log in</a></span>
        </div>
    </NotAuthorized>
</AuthorizeView>