/*
   Friday, May 9, 202512:41:48 PM
   User: sa
   Server: LAPTOP-7VREH8JJ\SQLEXPRESS
   Database: scrweb_blazor_avia
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PlanesCobertura SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PlanesCobertura_Coberturas ADD CONSTRAINT
	FK_PlanesCobertura_Coberturas_PlanesCobertura FOREIGN KEY
	(
	PlanId
	) REFERENCES dbo.PlanesCobertura
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  CASCADE 
	
GO
ALTER TABLE dbo.PlanesCobertura_Coberturas SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
